.home {
    display: flex;
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: auto; 

     .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1000;
    }

    .loading-spinner {
      font-size: 2em;
      color: #ffffff;
    }
  
    .status-circles {
      display: flex;
      justify-content: space-around;
      margin-bottom: 20px;
    
      .status-circle {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px solid #1877f2;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        cursor: pointer;
        position: relative;
      }
    
      .status-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    
      .status-label {
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        width: 100%;
        text-align: center;
        font-size: 12px;
        padding: 2px 0;
      }
    }
  
    .home_container {
      flex: 6;
      padding-bottom: 3rem;
  
      .scrollview {
        max-height: 520px; 
        overflow-y: auto;
        scroll-behavior: smooth;
      
        @media screen and (max-width: 900px) {
          overflow-y: scroll; 
        }
      }
      .status-circles {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
      
        .status-circle {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          border: 2px solid #1877f2;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          cursor: pointer;
          position: relative;
        }
      
        .status-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      
        .status-label {
          position: absolute;
          bottom: 0;
          background: rgba(0, 0, 0, 0.5);
          color: white;
          width: 100%;
          text-align: center;
          font-size: 12px;
          padding: 2px 0;
        }
      }
      
      .card_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
      }
      .no-games-message {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-family: 'Roboto', sans-serif; 
        font-size: 18px;
        color: #555; 
      }
      
      
      .card {
        margin: 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
        overflow: hidden;
        width: 100%; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        
      }
      
      .card img {
        width: 100%;
        height: 250px; 
        object-fit: cover;
      }
      
      .tournament_info {
        padding: 10px;
      }
      
      .tournament_info h3 {
        margin: 0;
        font-size: 16px;
        text-align: center;
      }
      
      .join_button {
        display: block;
        width: 100%;
        padding: 8px 0;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 0;
        cursor: pointer;
        font-size: 14px;
      }
      
      .join_button:hover {
        background-color: #0056b3;
      }
      
      .content {
        padding: 5rem 0 1rem 0;
  
        .games_slider  {
          width: 100%;
          margin: 0 auto;
          padding: 0.6rem 3rem;
          display: flex;
          align-items: center;
  
          @media screen and (max-width: 1500px) {
            padding: 0.6rem 2rem;
            width: 80%;
          }
          @media screen and (max-width: 900px) {
            padding: 0.6rem 10px;
            width: 80%;
          }
  
          @media screen and (max-width: 1000px) {
            padding: 0.6rem 2rem;
            
          }
          @media screen and (max-width: 700px) {
            padding: 0.6rem 10px;
            width: 100%;
          }
          
          
  
          .div {
            width: 1500px;
         
          }
          .game_box {
            padding: 0 1rem;
            @media screen and (max-width: 900px) {
              padding: 0 0.5rem;
            }
  
            padding: 0 1rem;
            @media screen and (max-width: 1000px) {
              padding: 0 0.5rem;
            }
            
            img {
              border-radius: 10px;
              width: 20rem;
              height: 15rem;
  
                          @media screen and (max-width: 900px) {
                width: 100%;
                height: 15rem;
              }
  
              @media screen and (max-width: 700px) {
                width: 100%;
                height: 15rem;
              }
            }
  
            .title {
              font-size: 1.5rem;
              margin: 10px 0;
              font-weight: bold;
            }
  
           
          }
        }
      }
  
      .aviator_slider  {
        width: 100%;
        margin: 0 auto;
        padding: 0.6rem 3rem;
        display: flex;
        align-items: center;
  
                @media screen and (max-width: 1500px) {
          padding: 0.6rem 2rem;
        }
        @media screen and (max-width: 900px) {
          padding: 0.6rem 10px;
        }
  
        @media screen and (max-width: 1000px) {
          padding: 0.6rem 2rem;
        }
        @media screen and (max-width: 700px) {
          padding: 0.6rem 10px;
        }
  
        .div {
          width: 1500px;
        
        }
      .aviator_image {
        position: relative;
        display: inline-block;
        padding: 0 1rem;
    
        @media screen and (max-width: 900px) {
          padding: 0 0.5rem;
        }
    
        @media screen and (max-width: 700px) {
          padding: 0 0.5rem;
        }
    
        @media screen and (max-width: 1000px) {
          padding: 0 0.5rem;
        }
    
        img {
            border-radius: 10px;
            width: 20rem;
            height: 15rem;
        }
    
        @media screen and (max-width: 900px) {
          img {
            width: 100%;
            height: 15rem;
          }
        }
    
        @media screen and (max-width: 600px) {
          img {
            width: 100%;
            height: 15rem;
          }
        }
    
        @media screen and (max-width: 700px) {
          img {
            width: 100%;
            height: 15rem;
          }
        }
    
        @media screen and (max-width: 800px) {
          img {
            width: 100%;
            height: 15rem;
          }
        }
    }
    
    .play_button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 50px;
        background-color: rgb(165, 86, 185);
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .play_button_text {
        color: white;
        font-size: 16px;
    }
  }
  }
  
  
  .footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #555;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
  
    p {
      margin: 0;
    }
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    @media only screen and (max-width: 768px) {
      font-size: 12px; 
      padding: 10px; 
      bottom: 90px;
  
      &.above-sidebar {
        bottom: unset;
        top: 0;
      }
    }
  }
  
  
  }